In [ ]:
import pandas as pd
df=pd.read_excel('employee salary.xlsx')

In [ ]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [ ]:
df['sales'].unique()

array(['sales', 'accounting', 'hr', 'technical', 'support', 'management',
       'IT', 'product_mng', 'marketing', 'RandD'], dtype=object)

In [ ]:
#Perform data quality check by checking for missing values if any. 
df.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
sales                    0
salary                   0
dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
#Understand what factors contributed most to employee turnover by EDA
from sklearn.preprocessing import LabelEncoder
encode=LabelEncoder()
df['salary']=encode.fit_transform(df['salary'])
df['sales']=encode.fit_transform(df['sales'])
df.corr()['salary']

satisfaction_level       0.007216
last_evaluation          0.007091
number_project           0.003199
average_montly_hours     0.002727
time_spend_company       0.000369
Work_accident           -0.003654
left                     0.004224
promotion_last_5years    0.004832
sales                    0.006702
salary                   1.000000
Name: salary, dtype: float64

In [ ]:
#Perform clustering of Employees who left based on their satisfaction and evaluation.
import matplotlib.pyplot as plt
d_left=df[df['left']==1]['satisfaction_level']
d=df[df['left']==0]['satisfaction_level']

In [ ]:
pip install imblearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: imblearn in /usr/local/lib/python3.8/dist-packages (0.0)
Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.8/dist-packages (from imblearn) (0.8.1)
Requirement already satisfied: scikit-learn>=0.24 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.21.6)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (3.1.0)

In [ ]:
x=df.drop('salary',axis=1)
y=df['salary']

In [ ]:
#Handle the left Class Imbalance using SMOTE technique.
from imblearn.over_sampling import SMOTE
smt=SMOTE()
smt.fit(x,y)
x_,y_=smt.fit_resample(x,y)

In [ ]:
#Perform k-fold cross-validation model training and evaluate performance.  
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
import numpy as np
def acc_score(model,x,y):
  cv = KFold(n_splits=10, random_state=1, shuffle=True)
  # evaluate model
  scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)
  # report performance
  return ('Accuracy: %.3f (%.3f)' % (np.mean(scores),np.std(scores)))

In [ ]:
#KNN
from sklearn.neighbors import KNeighborsClassifier as knn
classifier=knn(n_neighbors=7)
#Random forest
from sklearn.ensemble import RandomForestClassifier as rfc
Ran=rfc()
#svm
from sklearn.svm import SVC 
svc=SVC()

In [ ]:
#Identify the best model and justify the evaluation metrics used. 
print(acc_score(classifier,x_,y_))
print(acc_score(Ran,x_,y_))
print(acc_score(svc,x_,y_))

Accuracy: 0.545 (0.014)
Accuracy: 0.566 (0.011)

/usr/local/lib/python3.8/dist-packages/joblib/externals/loky/process_executor.py:700: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

Accuracy: 0.347 (0.019)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x_,y_,test_size=0.3)

In [ ]:

#Random forest
from sklearn.ensemble import RandomForestClassifier as rfc
Ran=rfc()
Ran.fit(x_,y_)

RandomForestClassifier()

In [ ]:
pred=Ran.predict(xtest)
from sklearn.metrics import accuracy_score
acc=accuracy_score(pred,ytest)

In [ ]:
acc

0.9996128532713898